<div class="row">
    <form class="col-md-8 well form-inline">

        <font size="4" class="col-md-2">
            <span class="glyphicon glyphicon-filter"></span>
            <b>Filtros</b>
        </font>

        <div *ngFor="let filter of gridOptions.filters" class="col-md-5">
            <div class="col-md-4">{{filter.text}}</div>
            <input type="text" [(ngModel)]="filter.value" class="form-control col-md-8" name="filter.name" (keyup)="filterCustom()">
        </div>
    </form>
</div>

<table class="col-md-12 table table-striped table-bordered table-responsive">
    <tr>
        <th *ngFor="let col of gridOptions.columns">
            <div *ngIf="col.sortable" (click)="sort(col)" role="button">
                {{col.text}}
                <i class="glyphicon glyphicon-chevron-up float-right" *ngIf="!col.sortDescending"></i>
                <i class="glyphicon glyphicon-chevron-down float-right" *ngIf="col.sortDescending"></i>
            </div>
            <div *ngIf="!col.sortable">{{col.text}}</div>
        </th>
        <th class="col-md-1"></th>
    </tr>
    <tr *ngFor="let row of dataToShow">
        <td *ngFor="let col of gridOptions.columns">
            {{row[col.name]}}
        </td>
        <td>
            <button type="button" class="btn btn-primary glyphicon glyphicon-trash" (click)="deleteElement(row)"></button>
            <button type="button" class="btn btn-danger glyphicon glyphicon-edit" (click)="editEvent.emit(row)"></button>
        </td>
    </tr>
    <tr *ngIf="dataToShow?.length===0">No se han encontrado coincidencias</tr>
</table>

<ul class="pagination float-right">
    <li class="page-item" [class.disabled]="!paginationPrevious" (click)="paginationPrevious && changePage(currentPage - 1)">
        <a class="page-link glyphicon glyphicon-menu-left" href="javascript:void(0);"></a>
    </li>
    <li *ngFor="let page of paginationArray" class="page-item" [class.disabled]="page == currentPage" (click)="!(page==currentPage) && changePage(page)">
        <a class="page-link" href="javascript:void(0);">{{page}}</a>
    </li>
    <li class="page-item" [class.disabled]="!paginationNext" (click)="paginationNext && changePage(currentPage + 1)">
        <a class="page-link glyphicon glyphicon-menu-right" href="javascript:void(0);"></a>
    </li>
</ul>